.sign-in {
    margin: 130px 0;
    width: 450px;
    &__form {
        width: 100%;
    }

    &__btn {
        color: $btn-color;
        background-color: $signIn-btn-bg;
        &:hover {
            background-color: $signIn-btn-bg-hover;
        }
    }
    &__warning {
        width: 47%;
    }
}



@media screen and (max-width: 500px) {
    .sign-in {
        margin: 50px 0;
    }
    .warning {
        font-size: 0.85rem;
        width: 60%;
        bottom: -2.5em;
    }
}
