$f-family-h: HammersmithOne-Regular;
$f-family-other: HindSiliguri-Regular;
$btn-color: #ffffff;
$signUp-btn-bg: #0979fa;
$signUp-btn-bg-hover: #008deb;
$input-bg: #ffffff;
$placeholder-color: #474747;
$placeholder-color-active: #808080;
$link-color: #0059ff;
$signIn-btn-bg: #06aa00;
$signIn-btn-bg-hover: #08c501;
$profile-bg: #fff;
$profile-ifo-clr: $placeholder-color-active;